.cn-section {	
	background: linear-gradient(180deg, #fff 0%, #fcf4ef 100%)
}

.cn-section__div {
	font-size: 20px;
	font-weight: 500;
	padding: 50px 500px 50px 500px;
}

.cn-section__title {
	padding-bottom: 20px;
}

.div__list {
	background-color: #fff;
	border-radius: 30px;
	padding: 50px;
	font-size: 20px;
	font-weight: 500;
	min-width: 320px;
	max-width: 1250px;
	margin: 0 auto;
}

.cn-section__list {
	margin-left: 15px;
}

.cn-section__item {
	list-style-type: disc;
}

.cn-section__list>.cn-section__item:not(:last-child) {
    margin-bottom: 20px;
}

.empty {
	padding: 35px;
}