.eng-section {	
	background-color: #fcf4ef;
}

.eng-section__div {
	font-size: 20px;
	font-weight: 500;
	padding: 50px 500px 50px 500px;
}

.eng-section__title {
	padding-bottom: 20px;
}

.div__list {
	background-color: #fff;
	border-radius: 30px;
	padding: 50px;
	font-size: 20px;
	font-weight: 500;
	min-width: 320px;
	max-width: 1250px;
	margin: 0 auto;
}

.eng-section__list {
	margin-left: 15px;
}

.eng-section__item {
	list-style-type: disc;
}

.eng-section__list>.eng-section__item:not(:last-child) {
    margin-bottom: 20px;
}