.rest-section {
	padding-bottom: 85px;
	margin-bottom: 30px;
}

.rest-section__title {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	white-space: pre-line;
	margin-bottom: 40px;
}

.rest-section__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 40px 20px;
}

.rest-section__item {
	font-weight: 700px;
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	width: 380px;
	height: 230px;
	padding: 165px 40px 0 40px;
	display: inline-block;
}

.rest-section__item:nth-child(3n+2) {
	transform: translateY(70px);
}

.rest-section__item:nth-child(3n+2):hover {
	transform: translateY(70px) scale(1.1);
}

.rest-1 {
	background-image: url('../img/rest-1.jpg');
	background-size: cover;
	transition-duration: 1s;
}
.rest-2 {
	background-image: url('../img/rest-2.jpg');
	background-size: cover;
	transition-duration: 1s;
}

.rest-3 {
	background-image: url('../img/rest-3.jpg');
	background-size: cover;
	transition-duration: 1s;
}

.rest-4 {
	background-image: url('../img/rest-4.jpg');
	background-size: cover;
	transition-duration: 1s;
}

.rest-5 {
	background-image: url('../img/rest-5.jpg');
	background-size: cover;
	transition-duration: 1s;
}

.rest-6 {
	background-image: url('../img/rest-6.jpg');
	background-size: cover;
	transition-duration: 1s;
}

.rest-1:hover,
.rest-2:hover,
.rest-3:hover,
.rest-4:hover,
.rest-5:hover,
.rest-6:hover {
	transform: scale(1.1);
}