.sal-section {
	padding-top: 85px;
	padding-bottom: 100px;
	margin-left: 70px;
}

.sal-section__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	margin-bottom: 40px;
}

.sal-section__paragraph {
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.sal-section__li {
	display: inline-block;
	width: 550px;
	height: 350px;
	padding-top: 160px;
}

.sal-section__li:not(:nth-child(2n)) {
	margin-right: 20px;
}

.sal-section__li:nth-child(-n+2) {
	margin-bottom: 20px;
}

.vibe {
	background-image: url('../img/english.jpg');
	background-size: 550px 350px;
	transition-duration: 1s;
}

.war {
	background-image: url('../img/chinese.jpg');
	background-size: 550px 350px;
	transition-duration: 1s;
}

.west {
	background-image: url('../img/hw.jpg');
	background-size: 550px 350px;
	transition-duration: 1s;
}

.neon {
	background-image: url('../img/pre-school.jpg');
	background-size: 550px 350px;
	transition-duration: 1s;
}

.vibe:hover,
.war:hover,
.west:hover,
.neon:hover {
	transform: scale(1.1);
}